/* general */

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
}
img{
    max-width: 100%;
    max-height: 100%;
}

/* main */

.links{
    position: fixed;
    right: 10px;
    list-style: none;
    display: inline-block;
    z-index: 1;
}
.links li{
    text-decoration: none;
    display: inline-block;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.5)
}
.links li:hover{
    transform:scale(1.2);
    
}

.links li a{
    text-decoration: none;
    font-size: 20px;
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 50px; 
    box-shadow: rgba(0, 0, 0, 0.5)


}


/* page 1 */



#shoe-blue{
    background-color: red;
    height: 100vh;
    color: yellow;
    position: relative;
}

.container{
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,  -50%);
}

figure{
    width: 700px;
}

h1{
    text-align: center;
    font-size: 50px;
    
}

/* page 2 */

#shoe-white{
    background-color: green;
    height: 100vh;
    color: yellow;
    position: relative;
}
/* page 3 */

#shoe-green{
    background-color: yellow;
    height: 100vh;
    color: green;
    position: relative;
}